Repository wahidyankf/swe-learn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./scripts/format-java.sh

feat(java-*): update ci
  .github/workflows/ci.yml
Due: none

ci: add Java build and test steps to CI workflow
  .github/workflows/ci.yml
Due: none

ci: improve Java build steps with Maven wrapper
  .github/workflows/ci.yml
Due: none

build: improve Maven configuration with enforcer and jar plugins
  apps/java-hello/pom.xml
  libs/java-hello-libs/pom.xml
Due: ./scripts/format-java.sh

chore(java): update ci
  apps/java-hello/src/main/java/com/wahidyankf/App.java
Due: ./scripts/format-java.sh

ci: set Maven version to 3.9.6
  .github/workflows/ci.yml
Due: none

build: add SDKMAN for Java and Maven version management
  .github/workflows/ci.yml
  .gitignore
  .sdkmanrc
Due: none

ci: fix SDKMAN initialization in GitHub Actions
  .github/workflows/ci.yml
Due: none

ci: fix SDKMAN initialization and YAML indentation
  .github/workflows/ci.yml
Due: none

chore(java): update ci
  .github/workflows/ci.yml
Due: none

fix(ci): ensure java library is installed before building app
  .github/workflows/ci.yml
Due: none

fix(ci): fix SDKMAN environment setup
  .github/workflows/ci.yml
Due: none

fix(ci): simplify SDKMAN and Java tools setup
  .github/workflows/ci.yml
Due: none

chore(python): update hooks
  .husky/pre-commit
  scripts/format-python.sh
Due: none

chore(global): update projects
  README.md
  apps/java-hello/README.md
  apps/java-hello/project.json
  libs/java-hello-libs/README.md
  package.json
Due: prettier --write

chore(global): update projects
  package.json
Due: prettier --write

chore(global): update projects
  apps/node-hello/README.md
  libs/node-hello-libs/README.md
Due: prettier --write

feat(ocaml): add projects
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  apps/ocaml-hello/README.md
  apps/ocaml-hello/bin/dune
  apps/ocaml-hello/bin/main.ml
  apps/ocaml-hello/dune-project
  apps/ocaml-hello/project.json
  apps/ocaml-hello/test/dune
  apps/ocaml-hello/test/test_main.ml
  dune-project
  dune-workspace
  libs/ocaml-hello-libs/README.md
  libs/ocaml-hello-libs/dune-project
  libs/ocaml-hello-libs/project.json
  libs/ocaml-hello-libs/src/dune
  libs/ocaml-hello-libs/src/lib.ml
  libs/ocaml-hello-libs/test/dune
  libs/ocaml-hello-libs/test/test_lib.ml
  package.json
  scripts/format-ocaml.sh
Due: prettier --write

chore(global): update readme
  README.md
  apps/ocaml-hello/README.md
  libs/ocaml-hello-libs/README.md
Due: prettier --write

fix(ci): update ocaml setup and dependencies installation
  .github/workflows/ci.yml
Due: none

fix(ci): install essential ocaml system dependencies
  .github/workflows/ci.yml
Due: none

fix(ci): manually handle ocaml dependencies and initialization
  .github/workflows/ci.yml
Due: none

fix(ci): manually install opam and dependencies
  .github/workflows/ci.yml
Due: none

fix(ci): add libev-dev and assume depexts for opam install
  .github/workflows/ci.yml
Due: none

fix(ci): add ocamlformat to base OCaml dependencies
  .github/workflows/ci.yml
Due: none

refactor(ci): use nx for OCaml formatting and building
  .github/workflows/ci.yml
  apps/ocaml-hello/project.json
  libs/ocaml-hello-libs/project.json
Due: prettier --write

chore(global): update ci
  .github/workflows/ci.yml
Due: none

feat(scripts): add dependency checker script
  package.json
  scripts/check-deps.sh
Due: prettier --write

refactor(scripts): convert dependency checker to JavaScript
  package.json
  scripts/check-deps.js
  scripts/check-deps.sh
Due: prettier --write

chore(global): update java version & add check scripts
  apps/java-hello/pom.xml
  libs/java-hello-libs/pom.xml
  scripts/check-deps.js
Due: prettier --write, ./scripts/format-java.sh

chore(global): update nx scripts to not use nx cloud
  nx.json
Due: prettier --write

chore(global): update project config
  apps/node-hello/project.json
  apps/node-hello/tsconfig.json
  apps/node-hello/tsconfig.tsbuildinfo
Due: prettier --write

chore(global): clean up unnecessary scripts
  package.json
Due: prettier --write

chore(global): update check-deps file
  scripts/check-deps.js
Due: prettier --write

chore(global): update readme to have volta as prerequisite
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
  ./scripts/format-java.sh: any of: *.{java,xml}
